body{
	text-align: center;
	background: #EAEBED;
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a { text-decoration: none; }
#shapka{
	display: block;
	width: 100%;
	height: 40px;
	background: white;
	position: relative;
}
#conrole_avatar{
	background: white;
	width: 170px;
	height: 20px;
	margin: auto;
	top: -580px;
	right: 180px;
	position: relative;
}
#post_news{
	width: 400px;
	height: auto;
	background: white;
	border: 1px #515151 solid;
	margin: auto;
	border-radius: 7px;
	margin-top: 10px;
}
#post_news_create{
	width: 400px;
	height: 400px;
	background: white;
	border: 1px #515151 solid;
	margin: auto;
	border-radius: 7px;
	margin-top: 10px;
	left: 180px;
	top: -262px;
	position: relative;
}
#profile_block{
	width: 200px;
	height: 300px;
	border-radius: 7px;
	background: white;
	border: 1px #515151 solid;
	margin: auto;
	right: 180px;
	top: 50px;
	position: relative;
}
#posts{
	width: 370px;
	height: auto;
	margin-left: 15px;
}
.name_owner_post{
	color: #6B000B;
	font-size: 13px;
}
.time_owner_post{
	color: #818C99;
	font-size: 10px;
	margin-top: -15px;
}
.text_post_owner{
	color: #313131;
	word-wrap: break-all;
	font-size: 12px;
	word-break: break-all;
}
.logotype{
	right: 300px;
	top: 11px;
	color: red;
	cursor: pointer;
	position: relative;
	font-family: 'Roboto', sans-serif;
}
.conrole_text{
	color: black;
	font-size: 10px;
	top: 3px;
	cursor: pointer;
	position: relative;
}
.enter_account{
	top: 10px;
	left: 400px;
	position: relative;
	cursor: pointer;
	color: black;
}
.textindex{
	width: 270px;
	height: 200px;
	background: white;
	color: red;
	border: 0px solid red;
}
.text_hi{
	color: #313131;
}
.textarea_go{
	resize: none;
	color: black;
	width: 360px;
	height: 300px;
	background: white;
	border: white 0px solid;
}
.h1_login{
	color: white;
	margin-right: 350px;
	top: 50px;
	position: relative;
}
.url_color{
	color: #318ce7;
}
.login_png{
	width: 200px;
	margin-right: 350px;
	margin-top: 50px;
}
#block_login{
	width: 300px;
	height: 330px;
	background: white;
	margin: auto;
	border-radius: 10px;
	margin-top: -350px;
	left: 300px;
	position: relative;
}
.login_text_global{
	color: white;
	margin-top: 0px;
}
.input_error{
	border-radius: 5px;
	height: 30px;
	width: 200px;
	text-align: center;
	border: 2px red solid;	
}
.global_input{
	border-radius: 5px;
	height: 30px;
	width: 200px;
	text-align: center;
	border: 0px white solid;
}
.button_login{
	width: 150px;
	height: 40px;
	border-radius: 7px;
	border: 0px white solid;
	cursor: pointer;
}
.button_login:hover{
	background: #E4E4E4;
}
.button_login:active{
	padding-top: 5px;
}
.avatar_css{
	border-radius: 100%;
	width: 150px;
	height: 150px;
	margin-top: 10px;
}
.nickname_profile{
	color: #313131;
	margin-top: 6px;
}
.item_profile{
	color: white;
	margin-top: -40px;
	top: 33px;
	margin-right: 150px;
	font-size: 20px;
	color: red;
	position: relative;
}
.text_profile{
	color: #313131;
	top: -21px;
	margin-left: 50px;
	text-align: left;
	cursor: pointer;
	font-size: 13px;
	position: relative;
	white-space: pre;
}
.text_profile:hover{
	color: red;
}
.enter_new_post{
	border: 0px solid white;
	border-radius: 7px;
	height: 25px;
	width: 130px;
	background: #EB4C42;
	color: white;
	cursor: pointer;
}
.enter_new_post:hover{
	background: #FF5448;
}